{% assign katex_css_link = "https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" %}
{% assign katex_css_integrity = "sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" %}

<link rel="preload" href="{{ katex_css_link }}" 
    integrity="{{ katex_css_integrity }}"
    crossorigin="anonymous"
    media="all"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'">

<noscript>
    <link rel="stylesheet" href="{{ katex_css_link }}"
    integrity="{{ katex_css_integrity }}" 
    crossorigin="anonymous" 
    media="all">
</noscript>
