$code-pre:     #ffffff;   
$code-hll:     #ffffcc;
$code-c:       #8f5902;
$code-err:     #a40000;
$code-err-bg:  #ffaaaa;
$code-k:       #204a87;
$code-l:       #000000;
$code-n:       #000000;
$code-o:       #ce5c00;
$code-x:       #000000;
$code-p:       #000000;
$code-cm:      #8f5902;
$code-cp:      #8f5902;
$code-c1:      #8f5902;
$code-cs:      #8f5902;
$code-ge:      italic;
$code-gs:      bold;
$code-kc:      #204a87;
$code-kd:      #204a87;
$code-kn:      #204a87;
$code-kp:      #204a87;
$code-kr:      #204a87;
$code-kt:      #204a87;
$code-ld:      #000000;
$code-m:       #0000cf;
$code-s:       #4e9a06;
$code-na:      #c4a000;
$code-nb:      #204a87;
$code-nc:      #000000;
$code-no:      #000000;
$code-nd:      #5c35cc;
$code-ni:      #ce5c00;
$code-ne:      #cc0000;
$code-nf:      #000000;
$code-nl:      #f57900;
$code-nn:      #000000;
$code-nx:      #000000;
$code-py:      #000000;
$code-nt:      #204a87;
$code-nv:      #000000;
$code-ow:      #204a87;
$code-w:       #f8f8f8;
$code-mf:      #0000cf;
$code-mh:      #0000cf;
$code-mi:      #0000cf;
$code-mo:      #0000cf;
$code-sb:      #4e9a06;
$code-sc:      #4e9a06;
$code-sd:      #8f5902;
$code-s2:      #4e9a06;
$code-se:      #4e9a06;
$code-sh:      #4e9a06;
$code-si:      #4e9a06;
$code-sx:      #4e9a06;
$code-sr:      #4e9a06;
$code-s1:      #4e9a06;
$code-ss:      #4e9a06;
$code-bp:      #3465a4;
$code-vc:      #000000;
$code-vg:      #000000;
$code-vi:      #000000;
$code-il:      #0000cf;
$code-gu:      #800080;
$code-gd:      #a40000;
$code-gi:      #00A000;
