$code-pre:     #ffffff;   
$code-hll:     #ffffff;
$code-c:       #75715e;
$code-err:     #960050;
$code-err-bg:  #1e0010;
$code-k:       #66d9ef;
$code-l:       #ae81ff;
$code-n:       #f8f8f2;
$code-o:       #f92672;
$code-p:       #f8f8f2;
$code-cm:      #75715e;
$code-cp:      #75715e;
$code-c1:      #75715e;
$code-cs:      #75715e;
$code-ge:      italic;
$code-gs:      bold;
$code-kc:      #66d9ef;
$code-kd:      #66d9ef;
$code-kn:      #f92672;
$code-kp:      #66d9ef;
$code-kr:      #66d9ef;
$code-kt:      #66d9ef;
$code-ld:      #e6db74;
$code-m:       #ae81ff;
$code-s:       #e6db74;
$code-na:      #a6e22e;
$code-nb:      #f8f8f2;
$code-nc:      #a6e22e;
$code-no:      #66d9ef;
$code-nd:      #a6e22e;
$code-ni:      #f8f8f2;
$code-ne:      #a6e22e;
$code-nf:      #a6e22e;
$code-nl:      #f8f8f2;
$code-nn:      #f8f8f2;
$code-nx:      #a6e22e;
$code-py:      #f8f8f2;
$code-nt:      #f92672;
$code-nv:      #f8f8f2;
$code-ow:      #f92672;
$code-w:       #f8f8f2;
$code-mf:      #ae81ff;
$code-mh:      #ae81ff;
$code-mi:      #ae81ff;
$code-mo:      #ae81ff;
$code-sb:      #e6db74;
$code-sc:      #e6db74;
$code-sd:      #e6db74;
$code-s2:      #e6db74;
$code-se:      #ae81ff;
$code-sh:      #e6db74;
$code-si:      #e6db74;
$code-sx:      #e6db74;
$code-sr:      #e6db74;
$code-s1:      #e6db74;
$code-ss:      #e6db74;
$code-bp:      #f8f8f2;
$code-vc:      #f8f8f2;
$code-vg:      #f8f8f2;
$code-vi:      #f8f8f2;
$code-il:      #ae81ff;
$code-gu:      #75715e;
$code-gd:      #f92672;
$code-gi:      #a6e22e;
