$code-pre-dark:     #272822;   
$code-hll-dark:     #272822;
$code-c-dark:       #75715e;
$code-err-dark:     #960050;
$code-err-bg-dark:  #1e0010;
$code-k-dark:       #66d9ef;
$code-l-dark:       #ae81ff;
$code-n-dark:       #f8f8f2;
$code-o-dark:       #f92672;
$code-x-dark:       #f8f8f2;
$code-p-dark:       #f8f8f2;
$code-cm-dark:      #75715e;
$code-cp-dark:      #75715e;
$code-c1-dark:      #75715e;
$code-cs-dark:      #75715e;
$code-ge-dark:      italic;
$code-gs-dark:      bold;
$code-kc-dark:      #66d9ef;
$code-kd-dark:      #66d9ef;
$code-kn-dark:      #f92672;
$code-kp-dark:      #66d9ef;
$code-kr-dark:      #66d9ef;
$code-kt-dark:      #66d9ef;
$code-ld-dark:      #e6db74;
$code-m-dark:       #ae81ff;
$code-s-dark:       #e6db74;
$code-na-dark:      #a6e22e;
$code-nb-dark:      #f8f8f2;
$code-nc-dark:      #a6e22e;
$code-no-dark:      #66d9ef;
$code-nd-dark:      #a6e22e;
$code-ni-dark:      #f8f8f2;
$code-ne-dark:      #a6e22e;
$code-nf-dark:      #a6e22e;
$code-nl-dark:      #f8f8f2;
$code-nn-dark:      #f8f8f2;
$code-nx-dark:      #a6e22e;
$code-py-dark:      #f8f8f2;
$code-nt-dark:      #f92672;
$code-nv-dark:      #f8f8f2;
$code-ow-dark:      #f92672;
$code-w-dark:       #f8f8f2;
$code-mf-dark:      #ae81ff;
$code-mh-dark:      #ae81ff;
$code-mi-dark:      #ae81ff;
$code-mo-dark:      #ae81ff;
$code-sb-dark:      #e6db74;
$code-sc-dark:      #e6db74;
$code-sd-dark:      #e6db74;
$code-s2-dark:      #e6db74;
$code-se-dark:      #ae81ff;
$code-sh-dark:      #e6db74;
$code-si-dark:      #e6db74;
$code-sx-dark:      #e6db74;
$code-sr-dark:      #e6db74;
$code-s1-dark:      #e6db74;
$code-ss-dark:      #e6db74;
$code-bp-dark:      #f8f8f2;
$code-vc-dark:      #f8f8f2;
$code-vg-dark:      #f8f8f2;
$code-vi-dark:      #f8f8f2;
$code-il-dark:      #ae81ff;
$code-gu-dark:      #75715e;
$code-gd-dark:      #f92672;
$code-gi-dark:      #a6e22e;
