---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description | truncate: 160 }}">
    {% if page.author != nil %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}{% if page.subtitle != "" and page.subtitle != nil %}: {{ page.subtitle }}{% endif %}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

    {% if page.code %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/code.css">
    {% endif %}

    {% if page.extra_css %}
    {% for stylesheet in page.extra_css %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
    {% endfor %}
    {% endif %}
    <link rel="icon" href="{{ site.baseurl }}/assets/favicon/favicon-16.png" sizes="16x16">
    <link rel="icon" href="{{ site.baseurl }}/assets/favicon/favicon-32.png" sizes="32x32">
    {% if page.math %}
    {% include math.html %}
    {% endif %}
</head>

<body>
    <nav class="nav-top">
        {% include logo.html %}
        {% for item in site.data.navigation %}
        <div class="nav-link">
        <a href="{{ item.link }}" {% if page.url==item.link %}class="current-page" {% endif %}>
            {{ item.name }}
        </a>
        </div>
        {% endfor %}
    </nav>
    <div class="content">
        {{ content }}
    </div>
</body>

</html>