---
layout: default
---
<article class="blog-post">
    <header class="title-group">
        <h1 class="title">{{ page.title }}</h1>
        {% if page.subtitle != "" and page.subtitle != nil %}
        <h2 class="subtitle">{{ page.subtitle }}</h2>
        {% endif %}
        <p class="bibliographic">{{ page.date | date_to_string }} | {{ page.author }}</p>
        {% if page.series-id and page.series-index %}
            {% include series-info.html %}
        {% endif %}
    </header>
    <section class="blog-text">
        {{ content }}
    </section>
</article>
<footer>
    {% if page.series-id and page.series-index %}
        {% include series-nav.html %}
    {% endif %}
</footer>